.hire{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 4px;
    border: none;
    background-color: #2d9596;
    border-radius: 10px;
    width: 128px;
    height: 48px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    font-size: 16px;
}
body{
    background-color: rgba(5, 22, 70, 1);
}
.container{
    text-decoration: none;
    color: white;
    max-width: 1440px;
    margin: 0 auto;
    padding:0 4rem;
    min-height: 100vh;
}

.nav a:link{
    text-decoration: none;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.nav a:hover{
    color: rgba(45, 149, 150, 1) !important;
}
.content{
    margin-bottom: 4rem;
    /* padding-left: 4rem; */
    /* margin-top: 6rem; */
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hire:hover{
    box-shadow: 4px 4px rgba(254, 239, 139, 1);
    /* box-shadow: rgb(199, 162, 30) 4px 4px; */
}
.hello{
    font-size: 40px;
    font-style: italic;
    text-shadow: 2px 4px rgba(255, 0, 0, 1);
}
.name{
    font-size: 40px;
    color:  rgba(45, 149, 150, 1) !important;
    /* margin-top: -24px; */
}
.role{
    font-size: 40px;
    font-style: italic;
    margin-bottom: 2px;
    /* margin-top: -45px; */
}
.quote{
    margin-bottom: 1rem;
}
.quote h4{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    /* margin-top: -35px; */
}
.resume{
    margin-left: 26px;
    font-size: 20px;
}
h2,h3,h4{
    margin: 0px;
}
.img{
    position: absolute;
    opacity: 1%;
    width: 532px;
    margin-top: -4rem;
    padding-left: 2rem;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 1px;
    flex-direction: column;
}
.design{
    /* margin-top: 1rem; */
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: rgba(171, 171, 171, 1);
    margin-top: 1rem;
    /* margin-bottom: 12rem; */
}
.ui{
    color: rgba(45, 149, 150, 1);
}
.text-designer{
    color:rgba(45, 149, 150, 1) ;
    padding-left: 0.25rem;

}
.vector{
    width: 550px;
    height: 508px;
    /* padding-left: 38rem;
    margin-top: -23rem; */
}
.min-height{
    min-height: 100vh;
}
.profile-img{
   width: 420px;
   height: 420px;
   /* box-shadow: 0px 0px 30px rgba(18, 43, 116, 1); */
}
html {
	scroll-behavior: smooth;
}
.banner-region{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.container-about{
    display: grid;
    grid-template-columns: 600px 400px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}
.abouttag{
    letter-spacing: 0.8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgba(179, 179, 179, 1);
}
.work{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 1rem;
    flex-direction: column;
}
.latest-work{
    letter-spacing: 0.8px;
    font-weight: bold;
    color: rgba(179, 179, 179, 1);
}
#chat{
    color: rgb(199, 162, 30);
}
.chef-book{
    /* border: 2px solid ; */
    border-radius: 24px;
    height: 450px;
    width: 450px;
}
.box{
    display: grid;
    grid-template-columns: 450px 620px;
    justify-content: space-between;
    margin-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
p{
    margin: 0px;
    font-size: 20px;
    line-height: 32px;
    color: rgba(171, 171, 171, 1);
    /* letter-spacing: 1px; */
}
.chef-text{
    font-size: 32px;
    line-height: 2;
    letter-spacing: 1.2px;
}
.effort{
    font-size: 20px;
    padding-bottom: 20px;
    color: rgb(199, 162, 30);
    line-height: 1.2;
}
.case{
    line-height: 16;
    font-size: 18px;
    color: rgb(114, 212, 114);
}
.skill-bar{
    display: grid;
    grid-template-columns: 220px 220px;
    column-gap: 45px;
    row-gap: 25px;
    grid-row: 2;
     
    translate: 0px -210px;
}
.skill{
    height: 48px;
    width: 240px;
    font-weight: 500;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 1px 8px 0px rgba(19, 46, 119, 0.6);
    border: 1px solid rgba(19, 46, 119, 1);
    color: rgba(45, 149, 150, 1);
    text-align: center;
    border-radius:10px ;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     /* display: grid;
     align-items: center;
     justify-items: center; */
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.case:hover{
    text-decoration: underline;
    text-decoration-color: rgb(114, 212, 114);
    text-underline-offset : 20px ;   
}

                                            /* service page */
.service-head{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgba(179, 179, 179, 1);
    justify-content: center;
    align-items: center;
    display: flex;
    letter-spacing: 0.8px;
}
.head{
font-size: 24px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
letter-spacing: 0.8px;
color:rgb(199, 162, 30) ;
}
.inform{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;    
    line-height: 1.6;
    /* letter-spacing: 1px; */
}
.ux-service{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-items: end;
    align-items: center;
    margin-top: 30px;
    padding: 20px 20px;
}
.image1{
    width: 500px;
    height: auto;
    /* border-radius: 12px; */
}
.role-1{
    display: grid;
    gap: 14px;
}
.project-button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 4px;
    border: none;
    background-color: rgba(45, 149, 150, 1);
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    translate: 0 -2px;
}
.project-button:hover{
    box-shadow: 4px 4px rgba(254, 239, 139, 1);
}
.web-design{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: space-between;
align-items: center;
padding: 20px 20px;
}
.image2{
    width: 500px;
    height: auto;
    /* border-radius: 12px; */
}
.image3{
    width: 500px;
    height: auto;
    /* border-radius: 12px;  */
}
.service-page{
    display: grid;
    row-gap: 50px;
}
.role-2{
    display: grid;
    gap: 14px;
}
.web-development{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-items: end;
    align-items: center;
    padding: 20px 20px;
}
.testimonal:hover{
    box-shadow: 0px 1px 8px 0px rgba(19, 46, 119, 0.6);
    outline: 1px solid rgba(19, 46, 119, 1);
    /* border-radius: 12px; */
    padding: 20px 20px;
}
.border-bottom{
    border-bottom: 1.4px solid rgb(19, 46, 119);
    
}

                                              /*lets chat  */

.lets-chat-button{
    box-shadow: 0px 1px 8px 0px rgba(19, 46, 119, 0.2);
    border: 1px solid rgb(19, 46, 119);
    color: #c7a21e;
    /* color: #2d9596; */
    height: 48px;
    width: 240px;
    font-weight: 500;
    border-radius:22px ;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(5, 22, 70, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lets-chat-button:hover{
    box-shadow: 0px 1px 8px 0px rgba(19, 46, 119, 0.8);
}
.footer-icon{
    box-shadow: 0px 1px 8px 0px rgba(19, 46, 119, 0.2);
    height: 26px;
    width: 26px;
    border: 1.5px solid rgba(19, 46, 119, 1);
    border-radius: 28px;
    padding: 14px;
}
.footer-icon:hover{
    box-shadow: 0px 1px 8px 0px rgba(19, 46, 119, 0.8);
}
.contact-block{
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.social-icons{
display:flex;
/* grid-template-columns: repeat(6 ,1fr); */
column-gap: 60px;
}